body {
    font-family: Arial;
    color: bisque;
    background-color: #5f9ea0;
}

.projectNames {
    list-style-type: disc;
    font-size: 28px;
    color: bisque;
}

.projectDescription {
    list-style-type: circle;
    font-size: 18px;
    color: rgb(228, 191, 145);
}

/* rules for phones */
@media only screen and (max-width:720px) {
    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }
}

/* CSS rules for tablets */
@media only screen and (min-width:721px) and (max-width:960px) {
    .desktop {
        display: none;
    }

    .phone {
        display: none;
    }
}

/* CSS rules for desktops */
@media only screen and (min-width:961px) {
    .tablet {
        display: none;
    }

    .phone {
        display: none;
    }
}